.measure-wide {   max-width: 64em; }
.img-container {
  /* float: left; */
  width: 33.33%;
  /* width: 50%; */
  padding: 10px;
}

.img-row {
  display: flex;
  flex-wrap: wrap;
  /* for horizontal aligning of child divs */
  justify-content: center;
  /* for vertical aligning */
  /* align-items: center; */
}

.img-container img {
  width: 200pt;
}

.interests {
  font-size: 11.5pt;
}

/* Settings for mobile */
@media (max-width : 450px) {
    /* .visibledevice {display:block;} */
    /* .visibledesktop {display:none;} */
    .img-row {
        display: block;
        flex-wrap: nowrap;
        /* text-align: center; */
        /* align-items: center; */
        /* justify-content: center; */
        /* width: 100%; */
    }
    .img-container {
        /* width: 200pt; */
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .img-container img {
        width: 150pt;
    }
    .interests {
        width: 200pt;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
}
